@font-face {
  font-family: Fauna;
  src: url("../font/Fauna.otf") format("opentype");
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
}

header {
  height: 120px;
  width: calc(100% - 40px);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  z-index: 4;
  transition: height 0.2s, padding 0.2s, box-shadow 1s;
  background: linear-gradient(to bottom, #fff 60%, rgba(255, 255, 255, 0));
}

.logo_link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: 240px;
  height: max-content;
  filter: drop-shadow(1px 0px 8px rgba(255, 255, 255, 0.2)) saturate(1.5);
  transition: filter 0.3s ease;
}

nav {
  width: calc(100% - 280px);
  height: 100%;
  z-index: 2;
}

nav li {
  width: 25%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  cursor: pointer;
  transition: color 0.3s ease-out, text-shadow 0.3s ease-out,
    transform 0.1s ease-out;
  color: #666;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  width: max-content;
  position: relative;
  border-width: 2px;
  z-index: 1;
  text-underline-offset: 3px;
  -webkit-font-smoothing: antialiased;
}

.nav_link:nth-child(n + 4) a:hover {
  color: rgb(1, 193, 217);
  text-shadow: 0px 1px 2px rgba(1, 193, 217, 0.5);
  transform: scale(1.1);
}

.dropdown:hover,
nav a:hover + .dropdown {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

.dropdown:hover > li,
nav a:hover + .dropdown li {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.menu {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-weight: 300;
  height: 100%;
  transition: padding 0.2s ease;
}

.burger_menu {
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  margin-bottom: 36px;
}

.hamburger,
.cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburger span {
  display: none;
  width: 34px;
  height: 3px;
  margin-bottom: 6px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 1);
}

.hamburger span:last-child {
  margin: 0;
}

.hamburger span:before,
.hamburger span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #aaa, #666);
  transform: translateX(-200%);
  transition: transform ease 300ms;
  border-radius: 2px;
}

.hamburger span:after {
  transform: translateX(0);
}

.hamburger span:nth-child(2):before,
.hamburger span:nth-child(2):after {
  transition-delay: 75ms;
}

.hamburger span:last-child:before,
.hamburger span:last-child:after {
  transition-delay: 150ms;
}

.cross span {
  display: none;
  width: 28px;
  height: 2px;
  background-color: #fff;
  transform: translateY(50%) rotate(45deg) scaleX(0);
  transition: transform ease 200ms;
}

.cross span:last-child {
  transform: translateY(-50%) rotate(-45deg) scaleX(0);
}

.burger_menu:hover span:before {
  transform: translateX(0);
}

.burger_menu:hover span:after {
  transform: translateX(200%);
}

.active .hamburger span:before {
  transform: translateX(100%);
}

.active .hamburger span:after {
  transform: translateX(200%);
}

.active .cross span {
  transition-delay: 450ms;
  transform: translateY(50%) rotate(45deg) scaleX(1);
}

.active .cross span:last-child {
  transform: translateY(-50%) rotate(-45deg) scaleX(1);
}

.active .hamburger {
  pointer-events: none;
}

.dropdown {
  position: absolute;
  top: 38px;
  left: 10%;
  width: 80%;
  padding-top: 50px;
  list-style: none;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 0.9) -50%,
    #5900aa 150%
  );
  align-items: center;
  border-radius: 8px 46px 8px 46px;
  opacity: 0;
  transition-delay: 0.2s;
  transition: opacity 0.4s ease-out, transform 0.6s ease-out, top 0.2s ease,
    box-shadow 0.2s ease;
  transform: scale(0.8);
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.3),
    0px 6px 16px rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.dropdown li {
  width: max-content;
  text-align: center;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  transition: color 0.6s ease-out, text-shadow 0.4s ease-out, margin 0.5s ease,
    transform 0.1s ease-out;
  margin-left: 100px;
  margin-right: 16px;
  font-weight: 400;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
  -webkit-font-smoothing: antialiased;
}

.dropdown li:hover {
  color: #fff;
  transform: scale(1.1);
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5);
}

.dropdown li:nth-child(2n) {
  margin-right: 100px;
  margin-left: 16px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.landing {
  margin: 0;
  height: 7800px;
  background: linear-gradient(
    to bottom,
    #fff 25%,
    rgb(1, 193, 217),
    #5900aa 80%
  );
  transition: background 1.2s ease-out;
  width: 100%;
  overflow-x: scroll;
  display: flex;
  align-items: flex-start;
  overflow-y: hidden;
}

.pos_rel {
  position: relative;
  height: calc(7800px - 64vh - 260px);
}

h2 {
  font-size: 3em;
  font-weight: 600;
  position: sticky;
  top: 4vh;
  left: 0;
  color: transparent;
  z-index: 4;
  text-align: center;
  margin-top: -46vh;
  margin-bottom: 62vh;
  background-clip: text;
  background-size: 400%;
  background-position: 100% 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    to right,
    transparent,
    #000,
    #000,
    transparent 80%
  );
  pointer-events: none;
  opacity: 0;
}

.device {
  position: sticky;
  top: 45vh;
  margin-left: 20px;
  margin-right: 20px;
  background: #000;
  width: calc(45vh + 210px);
  height: calc(22.5vh + 200px);
  left: calc(50% - 22.5vh - 105px);
  z-index: 2;
  border-radius: 12px;
  transition: box-shadow 0.6s ease, height 0.6s ease, bottom 0.1s ease;
  pointer-events: all !important;
  transform: perspective(18px) rotateX(1deg) translateZ(-4px) translateY(80px);
  box-shadow: 0px 1px 2px 3px rgba(180, 180, 180, 0.7),
    0px 8px 26px 4px rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.icons {
  position: absolute;
  top: 6vh;
  left: calc(-120px - 8vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.icons .wrapper {
  width: 26px;
  height: 26px;
  margin-bottom: 4vh;
  padding: calc(3px + 1vh);
  background: rgba(250, 250, 250, 0.3);
  border-radius: 50%;
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1),
    6px 6px 8px rgba(0, 0, 0, 0.2), -2px -2px 8px rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrolled_at {
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.5),
    inset -2px -2px 8px rgba(255, 255, 255, 0.5) !important;
  background: rgba(200, 200, 200, 0.4) !important;
}

.scrolled_at span {
  color: #91f !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8),
    -1px -1px 2px rgba(255, 255, 255, 0.1) !important;
}

.icons .wrapper span {
  font-size: 1.2em;
  position: absolute;
  width: max-content;
  left: calc(40px + 4vw);
  margin-bottom: -2px;
  color: #417;
  font-weight: 500;
  -webkit-font-smoothing: antialised;
}

.var_link {
  position: absolute;
  top: -15vh;
  left: calc(50% - 6rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.var_link button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  width: 12rem;
  height: auto;
}
.var_link button .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #305;
  border-radius: 1.625rem;
}
.var_link button .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.var_link button .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.var_link button .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.3rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
.var_link button .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #305;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.2;
  letter-spacing: 1px;
  text-align: center;
  text-indent: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8),
    -1px -1px 2px rgba(255, 255, 255, 0.2);
}
.var_link button:hover .circle {
  width: 100%;
}
.var_link button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
.var_link button:hover .button-text {
  color: #fff;
}

.dashboard {
  height: calc(22.5vh + 160px);
}

h1 {
  font-size: 4.2em;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 6px;
  background-image: linear-gradient(to right, #5900aa, rgb(1, 193, 217));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  margin-top: 24vh;
  align-self: center;
  line-height: 1.5;
}

.hero_switch_container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.sticky {
  position: sticky;
  top: calc(60vh + 300px);
  left: 0;
  right: 0;
  height: 1px;
  background: #fff;
  box-shadow: 0px -1vw 10vw 10vw rgba(255, 255, 255, 1);
  z-index: 3;
  transition: box-shadow 0.6s ease, opacity 0.5s ease-out;
}

.unsticky {
  opacity: 0;
}

.intro {
  position: relative;
  padding: 5.556vw 0;
  overflow: hidden;
  box-shadow: inset 0px -12px 16px -12px rgba(0, 0, 0, 0.8),
    0px 12px 10px -4px rgba(0, 0, 0, 0.3);
  background: linear-gradient(
    to bottom,
    #fff 2.5vw,
    #fff 35%,
    rgba(230, 230, 230, 1)
  );
  width: 100%;
  height: max-content;
  z-index: 1;
}

.logo_A {
  margin-top: 200px;
  width: 160px;
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.4));
}

.branding {
  font-family: "Fauna";
  font-weight: 400;
  font-size: 1.8em;
  color: #333;
  margin: 100px 0 80px 0;
  display: flex;
  overflow: hidden;
  animation: changeWidth 5.5s infinite;
  max-width: 92px;
  text-align: center;
}

.adv {
  background-color: #fff;
  color: #888;
}

.variable_text {
  z-index: -1;
  overflow: hidden;
  animation: changeText 5.5s infinite;
}

.sub_branding {
  font-family: "Poppins", sans-serif;
  font-size: 2.1em;
  font-weight: 500;
  margin: 20px 0;
  width: 500px;
  letter-spacing: 2px;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-color: #666;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.3);
  -webkit-font-smoothing: antialiased;
}

.branding_text {
  margin: 20px 0;
  font-size: 1.5em;
  font-weight: 400;
  width: 500px;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-color: #666;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.3);
  line-height: 1.5;
}

.branding_text span {
  font-weight: 600;
  line-height: 2.5;
  margin-right: 5px;
}

.intro_motos {
  width: 100%;
  margin: 80px 0px;
  display: flex;
  justify-content: space-evenly;
}

.intro_motos div {
  padding: 36px;
  border-radius: 24px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.smoke {
  box-shadow: inset 0px -10px 50px 6px rgba(255, 255, 255, 1) !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

.data_curve {
  height: 150px;
  position: relative;
  z-index: 1;
  min-width: 320px;
  max-width: 320px;
}

.branding_caption {
  font-size: 1.6em;
  font-weight: 500;
  margin-top: 20px;
  color: #999;
  width: 320px;
}

.branding_description {
  font-size: 1.05em;
  font-weight: 500;
  margin-top: 20px;
  color: #999;
  width: 320px;
}

@keyframes changeText {
  0% {
    transform: translateX(-100%) scale(0.9);
    z-index: -2;
    opacity: 0;
  }

  20%,
  60% {
    transform: translateX(0);
    opacity: 1;
  }

  70% {
    transform: translateX(-100%) scale(0.9);
    z-index: -2;
    opacity: 1;
  }

  100% {
    transform: translateX(-100%) scale(0.9);
    opacity: 0;
  }
}

@keyframes changeWidth {
  0% {
    max-width: 92px;
    opacity: 1;
  }

  50% {
    max-width: 100%;
  }

  90% {
    max-width: 92px;
    opacity: 1;
  }

  100% {
    max-width: 92px;
    opacity: 0.2;
  }
}

@media (min-aspect-ratio: 12/10) and (max-width: 880px) {
  .var_link {
    top: -80vh;
    bottom: unset;
  }
}

@media (max-aspect-ratio: 12/10), (max-width: 1024px) and (min-height: 620px) {
  .icons {
    flex-direction: row;
    top: -14vh;
    left: unset;
    height: max-content;
  }

  .icons .wrapper {
    margin-bottom: 0;
    margin-right: 40px;
  }

  .icons .wrapper:last-child {
    margin-right: 0;
  }

  .icons .wrapper span {
    left: unset;
    top: -36px;
  }

  .var_link {
    top: unset;
    bottom: calc(-30px - 10vh) !important;
  }
}

@media only screen and (max-height: 520px) {
  h2 {
    top: 2vh;
    font-size: 8vh;
  }
}

@media only screen and (max-height: 420px) {
  h1 {
    margin-top: 30vh;
  }

  h2 {
    top: 4vh;
    font-size: 10vh;
  }

  .icons {
    top: -8vh;
  }

  .var_link {
    top: -30px !important;
    right: -10.5rem;
    left: unset;
    bottom: unset !important;
  }

  .device {
    width: calc(55vh + 160px);
    height: calc(40vh + 100px);
  }

  .dashboard {
    height: calc(40vh + 80px);
  }
}

@media only screen and (max-width: 1024px) {
  header {
    padding-left: 20px;
    width: calc(100% - 20px);
  }

  .nav_link {
    display: none;
  }

  .menu {
    display: initial;
    position: absolute;
    right: 24px;
    width: max-content;
    height: max-content;
    top: 40px;
    transition: top 0.2s ease;
    pointer-events: none;
  }

  .burger_menu {
    margin-left: auto;
    pointer-events: all !important;
  }

  .hamburger span,
  .cross span {
    display: block;
  }

  .intro_motos div {
    padding: 24px;
  }

  .smoke {
    display: flex;
    justify-content: center;
  }

  .data_curve {
    height: 110px;
    max-width: 240px;
    min-width: 240px;
  }

  .branding_caption,
  .branding_description {
    width: 240px;
  }
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 3.5em;
  }
}

@media only screen and (max-width: 880px) {
  h1 {
    font-size: 2.6em;
  }

  .device {
    width: calc(60vh);
    left: calc(50% - 31.5vh);
    height: calc(30vh);
    max-width: calc(100vw - 60px);
    max-height: calc(50vw - 30px);
  }

  .dashboard {
    height: calc(30vh - 6px);
    max-height: calc(50vw - 40px);
  }

  .device::after {
    content: "";
    position: absolute;
    right: 4vh;
    background: #fff;
    border-radius: 20px;
    width: 0.6vh;
    height: 2vh;
  }

  .device::before {
    content: "";
    position: absolute;
    left: 2vh;
    background: #222;
    box-shadow: inset 0px 0px 5px #222;
    border-radius: 20px;
    width: 0.4vh;
    height: 5.6vh;
  }

  .var_link {
    bottom: calc(-30px - 10vh);
  }

  .intro_motos {
    margin: 60px 0;
    flex-direction: column;
    align-items: center;
  }

  .intro_motos div {
    margin-bottom: 80px;
  }

  .smoke {
    margin-bottom: 0 !important;
  }

  .sub_branding {
    width: 80%;
    font-size: 1.8em;
  }

  .branding_text {
    width: 80%;
    font-size: 1.4em;
  }

  .icons {
    top: -15vh;
  }
}

@media only screen and (max-width: 512px) {
  .logo {
    width: 200px;
  }

  header {
    padding-left: 18px;
  }

  .menu {
    right: 18px;
  }

  .hamburger span,
  .cross span {
    width: 28px;
  }

  h1 {
    font-size: 2.2em;
  }

  .logo_A {
    margin-top: 150px;
    width: 130px;
  }

  .branding {
    font-size: 1.4em;
    margin: 80px 0 60px 0;
  }

  .sub_branding {
    margin: 0;
    font-size: 1.4em;
  }

  .branding_text {
    font-size: 1.2em;
  }

  .slogan_heading {
    font-size: 1.2em;
  }

  .intro_motos {
    margin: 40px 0;
  }
  .intro_motos div {
    padding: 20px;
  }

  .data_curve {
    max-width: 200px;
    min-width: 200px;
  }

  .logo_A {
    margin-top: 120px;
    width: 100px;
  }

  .branding {
    font-size: 1.2em;
    margin: 60px 0 40px 0;
  }

  .sub_branding {
    font-size: 1.2em;
  }

  .branding_text {
    font-size: 1em;
  }

  .branding_caption,
  .branding_description {
    width: 200px;
  }

  .branding_caption {
    font-size: 1.2em;
  }

  .branding_description {
    font-size: 0.9em;
  }

  h2 {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 440px) {
  h1 {
    width: 300px;
    font-size: 2em;
    text-align: center;
  }

  h2 {
    font-size: 2.2em;
  }

  .device {
    width: calc(300px);
    left: calc(50% - 160px);
    height: 150px;
  }

  .dashboard {
    height: 140px;
  }

  header {
    padding-left: 12px;
  }

  .menu {
    right: 12px;
  }
}

@media only screen and (max-width: 380px) {
  h2 {
    font-size: 1.9em;
  }

  .device {
    width: calc(260px);
    left: calc(50% - 140px);
    height: calc(130px);
  }

  .dashboard {
    height: 120px;
  }

  header {
    padding-left: 8px;
  }

  .menu {
    right: 0px;
  }
}
